go 1.24.0

use (
	./orchestrator
	./services/consolidation-service
	./services/facility-service
	./services/inventory-service
	./services/labor-service
	./services/order-service
	./services/packing-service
	./services/picking-service
	./services/process-path-service
	./services/receiving-service
	./services/routing-service
	./services/shipping-service
	./services/sortation-service
	./services/stow-service
	./services/unit-service
	./services/walling-service
	./services/waving-service
	./services/wes-service
	./shared
)
