go 1.24.3

use (
	./orchestrator
	./services/billing-service
	./services/channel-service
	./services/consolidation-service
	./services/facility-service
	./services/inventory-service
	./services/labor-service
	./services/order-service
	./services/packing-service
	./services/picking-service
	./services/process-path-service
	./services/receiving-service
	./services/routing-service
	./services/seller-portal
	./services/seller-service
	./services/shipping-service
	./services/sortation-service
	./services/stow-service
	./services/unit-service
	./services/walling-service
	./services/waving-service
	./services/wes-service
	./shared
	./wms-runtime/temporal-validator
	./wms-runtime/validation-service
)
