apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: wms-platform
  labels:
    app: inventory-service
    tier: backend
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8008
    targetPort: http
    protocol: TCP
  - name: grpc
    port: 9008
    targetPort: grpc
    protocol: TCP
  selector:
    app: inventory-service
