apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: wms-platform
  labels:
    app: order-service
    tier: backend
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8001
    targetPort: http
    protocol: TCP
  - name: grpc
    port: 9001
    targetPort: grpc
    protocol: TCP
  selector:
    app: order-service
